{{ define "main" }}
<div class="container" role="main">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="posts-list">
          {{ $t := slice "digitalpulse" }}
          {{ range $index, $elem_val := where site.RegularPages ".Params.tags" "intersect" $t }}
            {{ if eq $index 0 }}
            <article class="post-preview">
              <a href="{{ .Permalink }}">
              <h3 class="post-title">{{ .Title }}</h3>
              </a>
              {{ if .Params.youtube }}
              <div class="embed-responsive embed-responsive-16by9 center-block">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{.Params.youtube}}?autoplay=1" allowfullscreen title="YouTube Video"></iframe>
              </div>
              {{ end }}
              <h3>You can find the show notes <a target="_blank" href="{{ .Permalink }}">here</a></h3>
            </article>
            <h1>All episodes</h1>
            <div class="row">
              <div class="col-md-4" style="margin: auto;"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
              <div class="col-md-8">
                <a href="https://youtu.be/{{ .Params.youtube }}">YouTube</a> | 
                <a href="https://open.spotify.com/episode/{{ .Params.spotify }}">Spotify</a>
              </div>
            </div>
            {{ else }}
            <div class="row">
                  <div class="col-md-4" style="margin: auto;"><a href="{{ .Permalink }}">{{ .Title }}</a></div>
                  <div class="col-md-8">
                    <a href="https://youtu.be/{{ .Params.youtube }}">YouTube</a> | 
                    <a href="https://open.spotify.com/episode/{{ .Params.spotify }}">Spotify</a>
                  </div>
            </div>
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>

{{ end }}